global:
  scrape_interval: 36s
  evaluation_interval: 36s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
    scrape_interval: 36s
    scrape_timeout: 10s