version: '3.8'
services:
  influxdb:
    container_name: influxdb
    image: influxdb:1.8.10-alpine
    environment:
      - INFLUXDB_DB=influx
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin
      - INFLUXDB_USER=telegraf
      - INFLUXDB_USER_PASSWORD=metricsmetricsmetricsmetrics
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:8086/ping || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks:
      - teleg

  telegraf:
    container_name: telegraf
    image: telegraf:1.21.2-alpine
    volumes:
      - ./telegraf/etc/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      influxdb:
        condition: service_healthy
    ports:
      - "8125:8125/udp"
    networks:
      - teleg

  grafana:
    container_name: grafana
    image: grafana/grafana:8.3.3
    depends_on:
      influxdb:
        condition: service_healthy
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
      - ./grafana/dashboards/:/var/lib/grafana/dashboards/
    networks:
      - teleg

volumes:
  grafana_data: {}
  influxdb_data: {}

networks:
  teleg: